.contacts__title span {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.contacts__text a {
    font-size: 17px;
}

.contacts .title2 {
    margin-bottom: 15px;
}

.contacts td {
    padding-bottom: 5px;
}

.contacts .text-greenfield p {
    margin: 15px 0 25px 0;
}

.contacts .form__row {
    margin-bottom: 30px;
}

/*костыли*/

.contacts_flex_margin_right {
    margin-right: 160px;
}

.contacts_flex_margin_right {
    margin-bottom: 20px;
}
