.converting h1 {
    margin-top: 80px;
}

.converting div.trigger {
    position: relative;
    width: 305px;
    height: 42px;
    padding: 6px 15px;
    box-sizing: border-box;
    background: #fff;
    border: none;
    border-radius: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    font-weight: 400;
    color: #1e1e1e;
    font-family: 'PT Sans Narrow',Helvetica,Arial,sans-serif;
}

.converting .underlined {
    text-decoration: underline;
}

.toknow {
    background-color: #fff;
    padding: 50px 0;
}

.main-description.converting h2 {
    margin-bottom: 25px;
    text-align: left;
}