.converting div.trigger {
    width: 305px;
    height: 42px;
    padding: 6px 15px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    font-family: 'PT Sans Narrow',Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-overflow: ellipsis;
    color: #1e1e1e;
    border: none;
    border-radius: 3px;
    background: #ffffff;
}

.toknow {
    padding: 50px 0;
    background-color: #ffffff;
}

.main-description.converting {
    padding: 50px 0;
}

.main-description.converting h2 {
    margin-bottom: 25px;
    text-align: left;
}
