td {
    padding: 0;
}

p, li {
    -webkit-font-smoothing: antialiased;
    font-size: 17px;
    line-height: 1.5;
}

.green_container {
    color: #fff;
}

.white_container {
    color: #787878;
}

ol {
    padding-left: 15px;
}

ol li {
    list-style-type: decimal;
    padding-left: 5px;
}

.white_container ul li, .green_container ul li {
    padding-left: 20px;
}

.white_container li, .green_container li {
    position: relative;
    margin-bottom: 10px;
}

.white_container ul li:after, .green_container ul li:after {
    position: absolute;
    left: 0;
    content: '';
    background-repeat: no-repeat;
    top: 10px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
}

.white_container li:after {
    background-color: #787878;
}

.green_container li:after {
    background-color: #fff;
}