@import url('default.css');
@import url('form.css');
@import url('table.css');
@import url('select.css');
@import url('pagination.css');
@import url('bookmark.css');
@import url('header.css');
@import url('footer.css');
@import url('main-exchange.css');
@import url('main-features.css');
@import url('main-description.css');
@import url('main-reviews.css');
@import url('main-news.css');
@import url('step2.css');
@import url('step3.css');
@import url('order_completed.css');
@import url('order_processing.css');
@import url('sign_up.css');
@import url('log_in.css');
@import url('rates.css');
@import url('contacts.css');
@import url('personal.css');
@import url('faq.css');
@import url('news.css');
@import url('reviews.css');
@import url('start.css');
@import url('textpage.css');
@import url('affiliate.css');
@import url('keygen.css');
@import url('unsubscribe.css');
@import url('profile.css');

body, html {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
}

body {
    min-width: 1230px;
    position: relative;
    background: #f1f1f1;
}

button, input, textarea {
    border: none;
    outline: 0;
    box-shadow: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    margin: 10px 0;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-size: 48px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #ffffff;
}

h2 {
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #3a3a3a;
}

.title2 {
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
}

.title3 {
    margin: 10px 0;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.title3--light {
    color: #ffffff;
}

.title3--dark {
    color: #3a3a3a;
}

.title3:after {
    width: 22px;
    height: 21px;
    position: relative;
    top: 3px;
    left: 10px;
    display: inline-block;
    visibility: hidden;
    content: '';
    background-image: url(/static/desktop/images/icon-alert.png);
    background-repeat: no-repeat;
}

.title4 {
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #3a3a3a;
}

.title4--red {
    color: #ff535f;
}

a {
    text-decoration: none;
}

a:focus {
    outline: none;
}

ul, li {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.flexbox {
    display: flex;
    justify-content: space-between;
}

.flexbox--start {
    justify-content: flex-start;
}

.flexbox__item--shrink {
    flex: 0 1 auto;
}

.flexbox__item--grow {
    flex: 1 0 auto;
}

.button, a.button, label.button {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 700;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
}

.button--long {
    width: 280px;
}

.button--medium {
    width: 200px;
}

.button--short {
    width: 120px;
}

.button--red {
    height: 60px;
    line-height: 61px;
    padding: 0 30px;
    position: relative;
    font-size: 18px;
    text-align: left;
    border-radius: 2px;
    background: #ff535f;
}

.button--red:hover {
    background: #e1404b;
}

.button--turquoise {
    width: 115px;
    margin: 0 auto;
    padding: 13px 20px 9px 20px;
    display: block;
    font-size: 12px;
    text-align: center;
    background: #089e95;
}

.button--turquoise:hover {
    background: #136964;
}

.bookmark .button--turquoise {
    padding: 11px 20px 7px 20px;
    font-size: 14px;
}

.button--inactive {
    pointer-events: none;
    background-color: #d0d0d0;
}

.spinner {
    width: 50px;
    height: 50px;
    visibility: hidden;
}

.spinner--active {
    visibility: visible;
}

.button__image {
    width: 9px;
    height: 10px;
    position: absolute;
    top: 50%;
    right: 25px;
    background-image: url(/static/desktop/images/icon-to2.png);
    background-repeat: no-repeat;
    margin-top: -5px;
}

.button-spinner .button, .button-spinner .spinner {
    vertical-align: middle;
}

.button-spinner .spinner {
    margin-right: 20px;
}

.button-spinner .button {
    top: -1px;
}

.modal_wrap .upload_controls {
    vertical-align: middle;
}

.error {
    margin: 10px 0;
    padding: 10px 25px;
    display: none;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-size: 19px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-align: left;
    color: #ffffff;
    border-radius: 3px;
    background: #ff535f;
}

.error--active {
    display: block;
}

.error--bookmark {
    font-size: 17px;
    border-radius: 0;
}

.container-1230px {
    width: 1230px;
    margin: 0 auto;
    position: relative;
}

.container-1230px--absolute {
    position: absolute;
    right: 0;
    left: 0;
    text-align: left;
}

.container-820px {
    width: 820px;
    margin-left: 400px;
}

.main {
    padding-top: 15px;
    position: relative;
}

.step2,
.step3,
.order_completed,
.order_processing,
.sign_up,
.log_in,
.rates,
.contacts,
.personal,
.faq,
.news,
.reviews,
.start,
.verification,
.converting,
.textpage,
.affiliate,
.keygen,
.unsubscribe,
.profile {
    padding: 15px 0;
    position: relative;
}

.background {
    width: 100%;
    min-width: 1230px;
    position: absolute;
    top: 125px;
    left: 0;
    background-image: url(/static/desktop/images/bg.jpg);
    background-repeat: no-repeat;
}

.whitefield {
    margin-bottom: 10px;
    padding: 30px 35px;
    box-sizing: border-box;
    text-align: left;
    border-radius: 3px;
    background: #ffffff;
}

.whitefield--padded {
    margin-bottom: 40px;
}

.whitefield .title4 {
    margin-bottom: 10px;
}

.text-whitefield {
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    color: #787878;
}

.text-greenfield {
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-size: 19px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    color: #ffffff;
}

.timer {
    margin-bottom: 30px;
    display: inline-block;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    color: #ffffff;
}

.timer__img {
    margin: -6px 5px 0 0;
    display: inline-block;
    vertical-align: middle;
    background-image: url(/static/desktop/images/icon-watch.png);
    background-repeat: no-repeat;
}

.timer__text {
    display: inline-block;
    vertical-align: middle;
}

.currency-img {
    width: 28px;
    height: 29px;
    margin-right: 15px;
    display: inline-block;
    vertical-align: middle;
}

.padded-field {
    padding-bottom: 110px;
}

.autorization-form h4, .autorization-form .text-greenfield {
    margin-bottom: 15px;
}

.autorization-form .text-whitefield {
    margin: 0 auto 15px auto;
}

.autorization-form label {
    margin-bottom: 15px;
    display: table;
}

.autorization-form .form__title, .autorization-form .form__input {
    display: table-cell;
}

.autorization-form .button__image {
    margin-left: 90px;
}

.float-right {
    float: right;
}

.text-link--green {
    color: #089e95;
}

.text-link--green:hover {
    color: #00857d;
}

.text-link--white {
    color: #ffffff;
}

.underlined.text-link--white {
    background: linear-gradient(#fff, #fff) no-repeat;
    background-size: 100% 1px;
    background-position: 0 1em;
}

.underlined.text-link--green {
    background: linear-gradient(#089e95, #089e95) no-repeat;
    background-size: 100% 1px;
    background-position: 0 1.05em;
}

.underlined.text-link--green:hover {
    color: #00857d;
    background: linear-gradient(#00857d, #00857d) no-repeat;
    background-size: 100% 1px;
    background-position: 0 1.05em;
}

.underlined.text-link--white:hover {
    color: rgba(255, 255, 255, .9);
    background: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)) no-repeat;
    background-size: 100% 1px;
    background-position: 0 1em;
}

.warning {
    margin: 20px 0;
    padding: 20px 50px 20px 80px;
    box-sizing: border-box;
    position: relative;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;
    text-transform: uppercase;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 3px;
}

.warning:after {
    width: 32px;
    height: 29px;
    position: absolute;
    top: 23px;
    left: 25px;
    content: '';
    background-image: url(/static/desktop/images/icon-warning.png);
    background-repeat: no-repeat;
}

.semitransparent {
    margin-top: 20px;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #ffffff;
}

.semitransparent--center {
    text-align: center;
}

.semitransparent .flexbox__item {
    margin: 0 1px 25px 0;
    padding: 20px 25px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, .15);
    flex: 1;
}

.semitransparent span:last-of-type {
    width: 100%;
    display: inline-block;
    line-height: 1.7;
    text-transform: uppercase;
}

.squarelist, .circlelist {
    margin-top: 15px;
}

.squarelist__item {
    margin-bottom: 20px;
    padding-left: 30px;
    position: relative;
}

.circlelist__item {
    margin-bottom: 10px;
    padding-left: 40px;
    position: relative;
}

.squarelist__item:after, .circlelist__item:after {
    position: absolute;
    left: 0;
    content: '';
    background-repeat: no-repeat;
}

.squarelist__item:after {
    width: 11px;
    height: 11px;
    top: 6px;
    background-image: url(/static/desktop/images/square-divider3.png);
}

.circlelist__item:after {
    width: 22px;
    height: 22px;
    top: 0;
    background-image: url(/static/desktop/images/icon-check3.png);
}

.circlelist__num {
    font-weight: 700;
    color: #3a3a3a;
}

.padded-p {
    margin-bottom: 25px;
}

.hidden {
    visibility: hidden;
}

.modal_wrap {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 8888;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    background-color: rgba(0, 0, 0, .5);
}

.modal_wrap--visible {
    display: block;
}

.modal {
    width: 740px;
    margin: 0 auto;
    padding: 40px 20px;
    box-sizing: border-box;
    position: absolute;
    z-index: 9999;
    top: 50%;
    right: 0;
    left: 0;
    transform: translateY(-50%);
    border-radius: 3px;
    background-color: #ffffff;
}

.modal__close {
    width: 19px;
    height: 21px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    background-image: url(/static/desktop/images/icon-close.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.modal__close:hover {
    background-position: -19px 0;
}

.modal__snapshots {
    width: 320px;
    height: 240px;
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: top;
}

.modal__snapshots:first-of-type {
    margin-right: 20px;
}

.modal__button {
    width: auto;
    height: 45px;
    padding: 12px 25px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}

#send_snapshot {
    margin-right: 40px;
    float: right;
}

.cc-banner * {
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif !important;
    font-size: 17px !important;
    -webkit-font-smoothing: antialiased;
}

.cc-link {
    opacity: 1 !important;
}

.cc-link:hover {
    color: #00857d !important;
}

.cc-btn.cc-dismiss:hover {
    background: #e1404b !important;
}

.text_notice {
    font-size: 15px;
}

@media (min-width: 1900px) {
    .background {
        background-position: 100%;
    }
}
