@import url("form.css");
@import url("table.css");
@import url("select.css");
@import url("pagination.css");
@import url("bookmark.css");
@import url("header.css");
@import url("footer.css");
@import url("main-exchange.css");
@import url("main-features.css");
@import url("main-description.css");
@import url("main-reviews.css");
@import url("main-news.css");
@import url("step2.css");
@import url("step3.css");
@import url("order_completed.css");
@import url("order_processing.css");
@import url("sign_up.css");
@import url("log_in.css");
@import url("rates.css");
@import url("contacts.css");
@import url("personal.css");
@import url("faq.css");
@import url("news.css");
@import url("reviews.css");
@import url("start.css");

body, html {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
}

body {
    background: #f1f1f1;
    position: relative;
    min-width: 1230px;
}

button, input, textarea {
    outline: 0;
    box-shadow: none;
    border: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h1 {
    font-size: 48px;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 10px 0;
}

h2 {
    font-size: 30px;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    color: #3a3a3a;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.title2 {
    font-size: 24px;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.title3 {
    font-size: 17px;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 22px;
    margin: 10px 0;
}

.title3--light {
    color: #ffffff;
}

.title3--dark {
    color: #3a3a3a;
}

.title3:after {
    content: '';
    position: relative;
    left: 10px;
    top: 3px;
    width: 22px;
    height: 21px;
    display: inline-block;
    background-image: url(/static/desktop/images/icon-alert.png);
    background-repeat: no-repeat;
    visibility: hidden;
}

.title4 {
    font-size: 16px;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #3a3a3a;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.title4--red {
    color: #ff535f;
}

a {
    text-decoration: none;
}

a:focus {
    outline: none;
}

ul, li {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.flexbox {
    display: flex;
    justify-content: space-between;
}

.flexbox__item--shrink {
    flex: 0 1 auto;
}

.flexbox__item--grow {
    flex: 1 0 auto;
}

.button {
    position: relative;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.button--long {
    width: 280px;
}

.button--medium{
    width: 200px;
}

.button--short {
    width: 120px;
}

.button--red {
    height: 57px;
    background: #ff535f;
    border-radius: 2px;
    padding: 0 25px;
    font-size: 18px;
    position: relative;
    text-align: left;
}

.button--red:hover {
    background: #e1404b;
}

.button--turquoise {
    background: #089e95;
    padding: 13px 20px 9px 20px;
    font-size: 12px;
    display: block;
    margin: 0 auto;
    width: 115px;
    text-align: center;
}

.button--turquoise:hover {
    background: #136964;
}

.bookmark .button--turquoise {
    padding: 11px 20px 7px 20px;
    font-size: 14px;
}

.spinner {
    width: 50px;
    height: 50px;
    visibility: hidden;
}

.spinner--active {
    visibility: visible;
}

.button__image {
    width: 9px;
    height: 10px;
    position: absolute;
    top: 50%;
    right: 25px;
    margin-top: -7px;
    background-image: url(/static/desktop/images/icon-to2.png);
    background-repeat: no-repeat;
}

.button-spinner {
    margin-top: -7px;
}

.button-spinner .button, .button-spinner .spinner {
    vertical-align: middle;
}

.button-spinner .spinner {
    margin-right: 20px;
}

.error {
    background: #ff535f;
    padding: 10px 25px;
    border-radius: 3px;
    font-size: 19px;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    margin: 10px 0;
    text-align: left;
    display: none;
}

.error--active {
    display: block;
}

.error--bookmark {
    font-size: 17px;
    border-radius: 0;
}

.container-1230px {
    width: 1230px;
    position: relative;
    margin: 0 auto;
}

.container-1230px--absolute {
    position: absolute;
    left: 0;
    right: 0;
    text-align: left;
}

.container-820px {
    width: 820px;
    margin-left: 400px;
}

.main, .step2, .step3, .order_completed, .order_processing, .sign_up, .log_in, .rates, .contacts, .personal, .faq, .news, .reviews {
    position: relative;
    padding: 15px 0;
}

.background {
    min-width: 1230px;
    width: 100%;
    background-image: url(/static/desktop/images/bg.jpg);
    background-repeat: no-repeat;
    position: absolute;
    top: 125px;
    left: 0;
}

.whitefield {
    background: #ffffff;
    border-radius: 3px;
    padding: 30px 35px;
    box-sizing: border-box;
    margin-bottom: 10px;
    text-align: left;
}

.whitefield--padded {
    margin-bottom: 40px;
}

.whitefield .title4 {
    margin-bottom: 10px;
}

.text-whitefield {
    font-size: 17px;
    color: #787878;
    line-height: 1.5;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

.text-greenfield {
    font-size: 19px;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #ffffff;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

.timer {
    display: inline-block;
    margin-bottom: 30px;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
}

.timer__img {
    background-image: url(/static/desktop/images/icon-watch.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.timer__text {
    display: inline-block;
    vertical-align: middle;
}

.currency-img {
    width: 28px;
    height: 29px;
    margin-right: 15px;
    display: inline-block;
    vertical-align: middle;
}

.padded-field {
    padding-bottom: 110px;
}

.autorization-form h4, .autorization-form .text-greenfield {
    margin-bottom: 15px;
}

.autorization-form .text-whitefield {
    margin: 0 auto 15px auto;
}

.autorization-form label {
    display: table;
    margin-bottom: 15px;
}

.autorization-form .form__title, .autorization-form .form__input {
    display: table-cell;
}

.autorization-form .button__image {
    margin-left: 90px;
}

.twocol {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.twocol:last-child label {
    float: right;
}

/*.float-right.button {
    margin: 20px 0;
}*/

.float-right {
    float: right;
}

.text-link--green {
    color: #089e95;
}

.text-link--white {
    color: #fff;
}

.underlined {
    position: relative;
}

.underlined:after {
    content: '';
    position: absolute;
    left: 0;
    top: none;
    bottom: 1px;
    width: 100%;
    height: 1px;
}

.warning {
    position: relative;
    margin: 20px 0;
    padding: 20px 50px 20px 80px;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #fff;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    line-height: 1.7;
}

.warning:after {
    content: '';
    position: absolute;
    width: 32px;
    height: 29px;
    top: 23px;
    left: 25px;
    background-image: url(/static/desktop/images/icon-warning.png);
    background-repeat: no-repeat;
}

.semitransparent {
    margin-top: 20px;
    font-size: 17px;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #ffffff;
}

.semitransparent--center {
    text-align: center;
}

.semitransparent .flexbox__item {
    flex: 1;
    margin: 0 1px 25px 0;
    padding: 20px 25px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, .15);
}

.semitransparent span:last-of-type {
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
    line-height: 1.7;
}

.squarelist, .circlelist {
    margin-top: 15px;
}

.squarelist__item {
    position: relative;
    margin-bottom: 20px;
    padding-left: 30px;
}

.circlelist__item {
    position: relative;
    margin-bottom: 10px;
    padding-left: 40px;
}

.squarelist__item:after, .circlelist__item:after {
    content: '';
    position: absolute;
    left: 0;
    background-repeat: no-repeat;
}

.squarelist__item:after {
    width: 11px;
    height: 11px;
    top: 6px;
    background-image: url(/static/desktop/images/square-divider3.png);
}

.circlelist__item:after {
    width: 22px;
    height: 22px;
    top: 0;
    background-image: url(/static/desktop/images/icon-check3.png);
}

.circlelist__num {
    font-weight: 700;
    color: #3a3a3a;
}

.padded-p {
    margin-bottom: 25px;
}



