.form__input {
    height: 42px;
    border-radius: 3px;
    border: 1px solid transparent;
    padding: 0 15px;
    box-sizing: border-box;
    background-color: #fff;
    font-size: 18px;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #232323;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

.form__textarea {
    height: 120px;
    padding-top: 15px;
    resize: none;
}

.form__input[readonly] {
    color: #b6b6b6;
}

.form__input--whitefield {
    background: #f1f1f1;
    border: 1px solid #ccc;
}

.form__input--160 {
    width: 160px;
}

.form__input--250 {
    width: 250px;
}

.form__input--305px {
    width: 305px;
}

.form__input--350 {
    width: 350px;
}

.form__input--510 {
    width: 510px;
}

.form--error input, .form--error input:focus {
    border: 3px solid #ff535f;
}

.form--error h3:after, .form--error .form__label:after {
    visibility: visible;
}

.form__input:focus {
    border: 1px solid #089e95;
}

.form__input:focus[readonly] {
    border: 1px solid #ccc;
}

.form__title {
    font-size: 17px;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #323232;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
}

.form--error .form__title {
    color: #ff535f;
}

.form__title:after {
  content: '';
  position: relative;
  left: 5px;
  top: 3px;
  width: 22px;
  height: 21px;
  display: inline-block;
  background: url(/static/desktop/images/icon-alert.png) no-repeat;
  visibility: hidden;
}

.form--error .form__title:after {
    visibility: visible;
}

.form__row label {
    display: table;
    margin-bottom: 15px;
}

.form__row .form__title, .form__row .form__input, .form__row .form__textarea {
    display: table-cell;
    vertical-align: baseline;
}

.form__row .form__textarea {
    vertical-align: top;
}

.form__row .form__title {
    width: 240px;
}

.form--lock {
    position: relative;
}

.form--lock:after {
    content: '';
    position: absolute;
    top: 15px;
    right: 15px;
    width: 10px;
    height: 14px;
    background-image: url(/static/desktop/images/icon-lock.png);
    background-repeat: no-repeat;
}

::-webkit-input-placeholder {
    color: #939393;
}

::-moz-placeholder {
    color: #939393;
}

:-ms-input-placeholder {
    color: #939393;
}

.checkbox {
    display: inline-block;
}

.checkbox input {
    display: none;
}

.checkbox label {
    position: relative;
    padding-left: 30px;
    font-size: 17px;
    font-family: 'PT Sans Narrow',Helvetica,Arial,sans-serif;
    font-weight: 400;
    line-height: 16px;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
}

.checkbox--white label {
    color: #fff;
}

.checkbox--green label {
    color: #089e95;
}

.checkbox label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 13px;
    height: 13px;
}

.checkbox--white label:before {
    border: 1px solid #ffffff;
}

.checkbox--green label:before {
    border: 1px solid #089e95;
}

.checkbox label:after {
    content: 0;
    position: absolute;
    width: 8px;
    height: 7px;
    top: 4px;
    left: 3px;
    background-repeat:  no-repeat;
    background-image: url(/static/desktop/images/icon-check.png);
}

.checkbox--white label:after {
    background-position: -8px 0;
}

.checkbox--green label:after {
    background-position: 0 0;
}

.checkbox input:checked ~ label:after {
    content: '';
}

.autorization-form .checkbox label {
    display: inline-block;
    margin: 0;
}

.form__layout--twocol .form__title {
    width: 110px;
}

.form__layout--twocol .form__input {
    width: 250px;
}
