.header {
    padding: 15px 0;
    text-align: left;
}

.header li {
    display: inline-block;
}

.header-topbar {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(183, 183, 183, .3);
}

.header-topbar__rates {
    display: inline-block;
    font-size: 12px;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #949494;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.header-topbar__nav {
    display: none;
}

.header-topbar__nav--active {
    display: block;
}

.header-topbar__link {
    display: block;
    padding-left: 15px;
    box-sizing: border-box;
}

.header-topbar__link .title4 {
    font-size: 13px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.header-topbar__link:hover .title4 {
    color: #089e95;
}

.header-topbar__avatar {
    position: relative;
    width: 9px;
    height: 12px;
    margin-left: 15px;
    padding: 0;
    background-image: url(/static/desktop/images/icon-avatar.png);
    background-repeat: no-repeat;
}

.header-topbar__avatar:after {
    content: none;
    position: absolute;
    width: 12px;
    height: 12px;
    left: 13px;
    top: 3px;
    background-image: url(/static/desktop/images/icon-to3.png);
    background-repeat: no-repeat;
    background-size: 75%;
}

.header-topbar__avatar--out {
    width: 25px;
}

.header-topbar__avatar--out:after {
    content: '';
}

.header-bottombar__nav {
    padding: 5px 0;
}

.header-bottombar__link {
    display: block;
    margin-right: 20px;
    position: relative;
}

.header-bottombar__link:after {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -5px;
    right: -16px;
    width: 6px;
    height: 6px;
    background: url(/static/desktop/images/square-divider.png);
}

.header-bottombar__nav li:last-child .header-bottombar__link:after {
    width: 0;
    height: 0;
}

.header-bottombar__link:hover .title4 {
    color: #089e95;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
