.log_in .underlined {
    margin-left: 25px;
    color: #089e95;
    background: linear-gradient(#089e95, #089e95) no-repeat;
    background-size: 100% 1px;
    background-position: 0 1.05em;
}

.log_in .underlined:hover {
    color: #00857d;
}

.log_in .checkbox {
    margin-top: 11px;
}
