.main-description {
    padding: 50px 0;
    background-color: #e8e8e8;
    background-image: url(/static/desktop/images/bg-2.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
}

.main-description h2 {
    margin: 0 0 25px 0;
    text-align: center;
}

.main-description p {
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    line-height: 1.6;
    color: #1e1e1e;
}
