.order_processing .timer, .order_processing__updating {
    font-size: 18px;
    display: table-cell;
}

.order_processing .timer {
    text-align: right;
}

.order_processing .timer__img {
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
}

.order_processing .timer__text {
    vertical-align: middle;
}

.order_processing__loading {
    font-size: 24px;
    padding: 90px 0;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    margin-bottom: 2px;
}

.order_processing__loading > * {
    vertical-align: middle;
    font-size: 25px;
}

.order_processing__loading img {
    margin-right: 15px;
}

.order_processing__warning {
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, .2);
    display: table;
    padding: 30px 0;
}