div.fancy-select {
    margin: 0;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
}

div.fancy-select div.trigger {
    height: 42px;
    box-sizing: border-box;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    color: #1e1e1e;
    border: none;
    border-radius: 3px;
}

.main-exchange div.fancy-select div.trigger {
    width: 305px;
    padding: 6px 15px;
    font-size: 18px;
    font-weight: 400;
}

.order_completed div.fancy-select div.trigger {
    width: 170px;
    padding: 7px 15px;
    font-size: 16px;
    border: 1px solid #cccccc;
    background: #f1f1f1;
}

div.fancy-select div.trigger:before {
    width: 0;
    height: 0;
}

div.fancy-select div.trigger:after {
    width: 10px;
    height: 6px;
    margin-top: -7px;
    padding: 5px;
    position: absolute;
    top: 50%;
    right: 13px;
    border: none;
    background: url(/static/desktop/images/triangle.png) center center no-repeat;
}

div.fancy-select ul.options {
    height: auto;
    top: 42px;
    color: #1e1e1e;
    border: 0;
    border-radius: 3px;
}

.main-exchange div.fancy-select ul.options {
    width: 305px;
    font-size: 18px;
}

.order_completed div.fancy-select ul.options {
    width: 170px;
    font-size: 16px;
}

.main-exchange div.fancy-select ul.options.open {
    top: 44px;
    border: none;
}

.order_completed div.fancy-select ul.options.open {
    top: 42px;
    border: 1px solid rgba(183, 183, 183, .3);
}

div.fancy-select ul.options li {
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-weight: 400;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    color: #1e1e1e;
}

.main-exchange div.fancy-select ul.options li {
    height: 50px;
    padding: 10px 15px;
    font-size: 18px;
}

.order_completed div.fancy-select ul.options li {
    height: 32px;
    padding: 1px 15px;
    font-size: 16px;
}

.main-exchange div.fancy-select ul.options li.selected {
    color: #1e1e1e;
    background: #ffffff;
}

.order_completed div.fancy-select ul.options li.selected {
    color: #a0a0a0;
    background: #ffffff;
}

.main-exchange div.fancy-select ul.options li:hover, .main-exchange div.fancy-select ul.options li.selected:hover {
    color: #089e95;
    background: #f5f5f5;
}

.order_completed div.fancy-select ul.options li:hover, .order_completed div.fancy-select ul.options li.selected:hover {
    color: #1f1f1f;
}

.order_completed div.fancy-select ul.options li:hover {
    background: #f1f1f1;
}

div.fancy-select ul.options.overflowing, div.fancy-select ul.options.overflowing.open {
    top: auto;
    bottom: 42px;
}

.select-title {
    margin-right: 5px;
    display: inline-block;
    line-height: 29px;
    vertical-align: middle;
}

.select-cur {
    display: inline-block;
    line-height: 29px;
    vertical-align: middle;
    text-transform: uppercase;
    color: #b8b8b8;
}

.header div.fancy-select div.trigger {
    width: 118px;
    height: 28px;
    padding: 5px 10px;
    box-sizing: border-box;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 700;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #323232;
    border: 1px solid rgba(183, 183, 183, .3);
    background: #f1f1f1;
}

.header div.fancy-select div.trigger:after {
    width: 7px;
    height: 3px;
    margin-top: -5px;
    padding: 3px;
    position: absolute;
    top: 50%;
    right: 10px;
    border: none;
    background: url(/static/desktop/images/triangle.png) center center no-repeat;
    background-size: 7px 3px;
}

.header div.fancy-select ul.options {
    width: 118px;
    height: auto;
    box-sizing: border-box;
    top: 27px;
    overflow-x: hidden;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #323232;
    border: 1px solid rgba(183, 183, 183, .3);
    background: #f1f1f1;
}

.header div.fancy-select ul.options li {
    width: 118px;
    height: 26px;
    padding: 7px 10px;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 700;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-overflow: ellipsis;
    color: #323232;
}

.header div.fancy-select ul.options li a {
    color: #323232;
}

.header div.fancy-select ul.options li.selected {
    color: #323232;
    background: #f1f1f1;
}

.header div.fancy-select ul.options li:hover, .header div.fancy-select ul.options li.selected:hover {
    color: #089e95;
}

#select-program ~ .trigger {
    width: auto;
    height: auto;
    padding: 0 15px;
    overflow: visible;
    border: none;
}

#select-program ~ .options {
    width: auto;
    height: auto;
    top: 25px;
    border: none;
    background-color: #ffffff;
}

#select-program ~ .options li {
    width: auto;
    height: auto;
    padding: 7px 15px;
}

#select-program ~ .options li.selected {
    background-color: #ffffff;
}

#select-program ~ .options li:hover {
    color: #323232;
    background: #f5f5f5;
}

#select-program + .trigger:after {
    right: 0;
}

.whitefield_select div.fancy-select div.trigger {
    width: 250px;
    height: 42px;
    padding: 10px 15px;
    box-sizing: border-box;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    line-height: 1.2;
    color: #232323;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background: #f1f1f1;
}

.whitefield_select div.fancy-select ul.options {
    width: 250px;
    height: auto;
    box-sizing: border-box;
    top: 43px;
    overflow-x: hidden;
    border: 1px solid transparent;
    background: #f1f1f1;
}

.whitefield_select div.fancy-select ul.options.open {
    border: 1px solid #cccccc;
}

.whitefield_select div.fancy-select ul.options li {
    width: 250px;
    height: 42px;
    padding: 10px 15px;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    line-height: 1.2;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-overflow: ellipsis;
    color: #232323;
}

.whitefield_select div.fancy-select ul.options li:hover, .whitefield_select div.fancy-select ul.options li.hover {
    background-color: #d9d9d9;
}

.whitefield_select div.fancy-select ul.options li.selected:hover {
    background-color: #d3d3d3;
}

.card_exp div.fancy-select {
    width: 100px;
    display: table-cell;
    vertical-align: baseline;
}

.card_exp div.fancy-select div.trigger, .card_exp div.fancy-select ul.options {
    width: 100%;
}

.form__row .flexbox__item .div.fancy-select div.trigger {
    width: 250px;
}

.form__row .flexbox__item div.fancy-select select:focus ~ div.trigger {
    border: 1px solid #089e95;
}
