.from-to-2 {
    width: 20px;
    height: 14px;
    margin-right: 30px;
}

.step3 .greenfield {
    padding: 15px 0;
}

.step3 .text-whitefield {
    margin: 20px 0;
}

.order__title {
    margin-right: 20px;
    font-size: 17px;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    color: #787878;
}

.order__text {
    font-size: 17px;
    color: #232323;
}

.order-invoice {
    padding: 2px 0 2px 0;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-weight: 400;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    position: relative;
}

.order-invoice:after {
    content: '';
    position: absolute;
    width: 100%;
    height: calc(100% + 2px);
    top: -4px;
    left: 0;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding: 2px 0 2px 0;
}

.order-invoice .text-whitefield {
    padding: 0;
}

.whitefield.from-to {
    margin: 25px 0 30px 0;
}

.step3 .timer__text {
    font-size: 65px;
    line-height: 57px;
}

.step3 .timer__img {
    width: 57px;
    height: 57px;
}

.step3 .whitefield .title4 {
    margin-bottom: 0;
}

.step3 .flexbox {
    margin: 15px 0;
    justify-content: center;
    align-items: center;
}

.step3 .flexbox__item--grow {
    flex: 1;
}

.order-invoice .flexbox {
    align-items: baseline;
}

.step3 .button-spinner {
    margin-top: -5px;
}

.step3 .from-to .flexbox {
    justify-content: space-between;
}

.step3 .from-to .currency-num, .step3 .from-to .currency-text {
    display: inline-block;
    vertical-align: middle;
}
