.step2 h4, .step2 .text-greenfield {
    margin-bottom: 15px;
}

.step2 label {
    display: table;
    margin-bottom: 15px;
}

.step2 .form__title, .step2 .form__input {
    display: table-cell;
}

.step2 .button__image {
    margin-left: 90px;
}

.step2 .underlined {
    font-size: 17px;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #089e95;
    -webkit-font-smoothing: antialiased;
    margin-left: 25px;
}

.step2 .underlined:after {
    background: #089e95;
}

.step2 .underlined:hover {
    color: #00857d;
}

.step2 .underlined:hover:after {
    background: #00857d;
}

.address-selection {
    position: relative;
    margin-bottom: 30px;
}

.address-selection-wrap {
    display: inline-block;
}

.address-selection__item {
    position: relative;
    width: 215px !important;
    margin-right: 9px;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    padding: 10px 25px;
    box-sizing: border-box;
    cursor: pointer;
}

.address-selection__item:hover {
    border: 1px solid #089e95;
}

.address-selection__item:focus {
    outline: none;
}

.address-selection__remove {
    font-size: 14px;
    color: #ff535f;
    text-transform: lowercase;
    opacity: .8;
    border-bottom: 1px solid transparent;
}

.address-selection__remove:hover {
    opacity: 1;
    border-bottom: 1px solid #ff535f;
}

.address-selection__item:after {
    content: '';
    position: absolute;
    width: 8px;
    height: 7px;
    top: 10px;
    right: 10px;
    background-repeat:  no-repeat;
    background-image: url(/static/desktop/images/icon-check.png);
    background-position: 0 0;
    display: none;
}

.address-selection__item--active {
    opacity: 1;
    border: 1px solid #089e95;
}

.address-selection__item--active:after {
    display: block;
}

.address-selection__items.flexbox {
    width: 672px;
}

.address-selection__controls {
    position: absolute;
    top: 0;
    right: 0;
}

.slick-arrow {
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    background-color: transparent;
    background-image: url(/static/desktop/images/icon-arrows.png);
    background-repeat: no-repeat;
    cursor: pointer;
}

.slick-prev {
    background-position: -25px 0;
}

.slick-next {
    background-position: 0 0;
}

.slick-prev.slick-disabled {
    background-position: -75px 0;
}

.slick-next.slick-disabled {
    background-position: -50px 0;
}


/*input {
    position: relative;
}

input:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 10px;
    background: red;
}*/