.from-to-2 {
    width: 20px;
    height: 14px;
    margin-right: 30px;
}

.step3 .greenfield {
    padding: 15px 0;
}

.step3 .text-whitefield {
    margin: 20px 0;
}

.order__title {
    margin-right: 20px;
    font-size: 17px;
    color: #787878;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

.order__text {
    font-size: 17px;
    color: #232323;
}

.order-invoice {
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-weight: 400;
    padding: 2px 0 2px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.order-invoice .table {
    padding: 20px;
    border-collapse: separate;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.order-invoice td {
    padding: 5px 8px;
}

.order-invoice .text-whitefield {
    padding: 0;
}

.whitefield.from-to {
    margin: 25px 0 30px 0;
}

.step3 .twocol {
    vertical-align: middle;
}

.step3 .timer {
    font-size: 65px;
    line-height: 55px;
}

.step3 .timer__img {
    width: 57px;
    height: 57px;
}

.step3 .whitefield .title4 {
  margin-bottom: 0;
}

.step3 .flexbox {
    margin: 15px 0;
    justify-content: center;
    align-items: center;
}

.step3 .flexbox__item--grow {
    flex: 1;
}

.order-invoice .flexbox {
    align-items: baseline;
}

.step3 .button-spinner {
    margin-top: 0
}

.step3 .from-to .flexbox {
    justify-content: space-between;
}

.step3 .from-to .currency-num, .step3 .from-to .currency-text {
    display: inline-block;
    vertical-align: middle;
}