.step2 h4, .step2 .text-greenfield {
    margin-bottom: 15px;
}

.step2 label {
    margin-bottom: 15px;
    display: table;
}

.step2 .form__title, .step2 .form__input {
    display: table-cell;
}

.step2 .button__image {
    margin-left: 90px;
}

.step2 .underlined {
    margin-left: 25px;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #089e95;
    background: linear-gradient(#089e95, #089e95) no-repeat;
    background-size: 100% 1px;
    background-position: 0 1.05em;
}

.step2 .underlined:hover {
    color: #00857d;
}

.address-selection {
    margin-bottom: 30px;
    position: relative;
}

.address-selection-wrap {
    display: inline-block;
}

.address-selection__item {
    width: 215px !important;
    height: 122px;
    margin-right: 9px;
    padding: 10px 25px;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
}

.address-selection__item:hover {
    border: 1px solid #089e95;
}

.address-selection__item:focus {
    outline: none;
}

.address-selection__remove {
    font-size: 14px;
    text-transform: lowercase;
    opacity: .8;
    color: #ff535f;
    border-bottom: 1px solid transparent;
}

.address-selection__remove:hover {
    opacity: 1;
    border-bottom: 1px solid #ff535f;
}

.address-selection__item:after {
    width: 8px;
    height: 7px;
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
    content: '';
    background-image: url(/static/desktop/images/icon-check.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.address-selection__item--active {
    opacity: 1;
    border: 1px solid #089e95;
}

.address-selection__item--active:after {
    display: block;
}

.address-selection__items.flexbox {
    width: 672px;
}

.address-selection__controls {
    position: absolute;
    top: 0;
    right: 0;
}

.slick-arrow {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    background-image: url(/static/desktop/images/icon-arrows.png);
    background-repeat: no-repeat;
}

.slick-prev {
    background-position: -25px 0;
}

.slick-next {
    background-position: 0 0;
}

.slick-prev.slick-disabled {
    background-position: -75px 0;
}

.slick-next.slick-disabled {
    background-position: -50px 0;
}

.card_exp {
    display: table;
}

.card_exp > div {
    display: table-row;
}

.card_exp__cell {
    display: table-cell;
    vertical-align: baseline;
}

/*.card_exp .form__title  {
    width: 110px;
}*/

.card_exp .slash {
    width: 50px;
    text-align: center;
}

.card_exp .slash:after {
    content: none;
}

/*.step2 .checkbox {
    margin-left: 110px;
}*/
