.verification .text-greenfield {
    margin-bottom: 10px;
}

.verification__status {
    position: relative;
    font-size: 17px;
    color: #089e95;
    font-family: 'PT Sans Narrow',Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    visibility: hidden;
}

.verification__status span {
    padding-left: 30px;
}

.verification__status:after {
    content: '';
    position: absolute;
    width: 15px;
    height: 12px;
    left: 0;
    top: 3px;
    background-image: url(/static/desktop/images/icon-check2.png);
    background-repeat: no-repeat;
}

.verification__status--uploaded {
    visibility: visible;
}

.verification .flexbox {
    align-items: center;
}

.verification .flexbox__item:nth-of-type(1) {
    flex: 6;
}

.verification .flexbox__item:nth-of-type(2) {
    flex: 3;
}

.verification .flexbox__item:nth-of-type(3) {
    flex: 1;
}

.verification .button--red {
    width: auto;
    height: 45px;
    padding: 12px 25px;
    margin-right: 20px;
    box-sizing: border-box;
}

.verification .button-spinner {
    margin-top: 0;
}

.verification .button__image {
    display: none;
}

.verification .flexbox__item:nth-of-type(2) {
    text-align: right;
}

#uploadphoto {
    position: absolute;
    left: -9999px;
}

.verification .title4.title4--padded {
    text-transform: none;
    margin: 20px auto 5px;
    position: relative;
    padding-left: 30px;
}

.verification .title4.title4--padded:after {
    content: '';
    position: absolute;
    width: 22px;
    height: 21px;
    top: 0;
    left: 0;
    background-image: url(/static/desktop/images/icon-question.png);
    background-repeat: no-repeat;
}

.verification .title4.title4--padded + p {
    padding-left: 30px;
}

.verification h2 {
    margin-bottom: 10px;
}


