.verification .text-greenfield {
    margin-bottom: 10px;
}

.verification__status {
    display: none;
    font-family: 'PT Sans Narrow',Helvetica,Arial,sans-serif;
    font-size: 17px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    color: #089e95;
}

.verification__status span {
    padding-left: 30px;
    position: relative;
}

.verification__status span:after {
    width: 15px;
    height: 12px;
    position: absolute;
    top: 3px;
    left: 0;
    content: '';
    background-image: url(/static/desktop/images/icon-check2.png);
    background-repeat: no-repeat;
}

.verification__status--uploaded {
    display: inline-block;
}

.verification .flexbox {
    align-items: center;
}

.verification .flexbox__item:nth-of-type(1) {
    flex: 1;
}

.verification .flexbox__item:nth-of-type(2) {
    text-align: right;
    flex: 1;
}

.verification .button--red {
    width: auto;
    height: 45px;
    line-height: 45px;
    padding: 0 25px;
    box-sizing: border-box;
}

.verification .button__image {
    display: none;
}

.form__input--hidden {
    position: absolute;
    left: -9999px;
}

.upload_controls label {
    margin-right: 10px;
}

.verification .title4.title4--padded {
    margin: 20px auto 5px;
    padding-left: 30px;
    position: relative;
    text-transform: none;
}

.verification .title4.title4--padded:after {
    width: 22px;
    height: 21px;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background-image: url(/static/desktop/images/icon-question.png);
    background-repeat: no-repeat;
}

.verification .title4.title4--padded + p {
    padding-left: 30px;
}

.verification h2 {
    margin-bottom: 10px;
}

.upload_controls {
    display: inline-block;
}

.upload_controls--hidden {
    display: none;
}
