.wiki .flexbox {
    margin-bottom: 30px;
}

.wiki .flexbox__item {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.wiki .title2 {
    margin-bottom: 10px;
}

.wiki ul {
    margin-left: 20px;
}

