.exchange {
    text-align: left;
    padding: 15px 0 45px 0;
    /*background: url(/static/images/bg.jpg) no-repeat;*/
}

.form__input--exchange {
    margin-bottom: 10px;
}

.exchange-field {
    margin-top: 30px;
}

.exchange-field__item {
    display: inline-block;
    vertical-align: top;
}

.from-to-1 {
    width: 23px;
    height: 75px;
    display: inline-block;
    vertical-align: top;
    background: url(/static/images/icon-to.png);
    position: relative;
    top: 50px;
    margin: 0 35px;
}

.exchange-info__item {
    width: 272px;
    display: inline-block;
    vertical-align: top;
    margin: 15px 1px 15px 0;
    line-height: 1.5;
    padding: 16px 60px;
    background: rgba(255, 255, 255, .15);
    font-size: 17px;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    box-sizing: border-box;
}

.exchange-info__amount {
    text-transform: uppercase;
}