.features {
    padding: 45px 0;
}

.features__item {
    width: 270px;
    display: inline-block;
    vertical-align: top;
}

.features__image {
    width: 98px;
    height: 99px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}

.features__text {
    width: 130px;
    display: inline-block;
    vertical-align: middle;
}

.features .dark {
    margin-top: 0;
}

.features__text span {
    font-size: 17px;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #616161;
    -webkit-font-smoothing: antialiased;
}

.features__image--fast {
    background: url(/static/images/icon-features.png) 0 0;
}

.features__image--simple {
    background: url(/static/images/icon-features.png) 98px 0;
}

.features__image--reliable {
    background: url(/static/images/icon-features.png) 197px 0;
}