.order_completed table {
    width: 100%;
}

.order-details table {
    border-collapse: collapse;
}

.order-details th, .order-details td {
    padding: 20px 25px;
}

.order-details th {
    background: #f5f5f5;
    font-size: 16px;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #787878;
    -webkit-font-smoothing: antialiased;
}

.order-details td {
    font-size: 16px;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #1e1e1e;
    -webkit-font-smoothing: antialiased;
}

.order-details td:last-child {
    color: #089e95;
}

.order_completed .title4 {
    margin-bottom: 20px;
    font-size: 18px;
}

.order_completed .text-greenfield {
    margin-bottom: 20px;
}

.order_completed label {
    display: table;
    margin-bottom: 15px;
}

.order_completed .form__title, .order_completed .form__input {
    display: table-cell;
}

.rateus {
    margin: 25px 0;
}

.rateus td {
    font-size: 17px;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #323232;
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
}

.rateus td div {
    display: inline-block;
    vertical-align: middle;
}

.rateus__title {
    font-size: 17px;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-weight: 700;
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
    margin-right: 40px;
}

.curly {
    width: 7px;
    height: 136px;
    background: url(/static/images/curly.png) no-repeat;
}
