.pagination-wrap {
    text-align: center;
    margin-bottom: 50px;
}

.pagination {
    display: inline-block;
    margin: 80px 0 0 0;
    overflow: hidden;
}

.pagination__item {
  margin: 0 2px;
  float: left;
}

.pagination__link {
    display: block;
    color: #1b1b1b;
    font-size: 16px;
    line-height: 38px;
    min-width: 38px;
    border: 1px solid transparent;
    background: #ffffff;
    box-sizing: border-box;
    user-select: none;
}

.pagination__link:hover {
    border: 1px solid #089e95;
    background: #ffffff;
}

.pagination__link--current {
    background: transparent;
    color: #ff535f;
}

.pagination__link--current:hover {
    cursor: default;
}

.pagination__link--ellipse {
    background: #ffffff;
    border: 1px solid transparent;
    cursor: pointer;
}

.pagination__text {
    color: #1b1b1b;
    background: transparent;
    display: inline-block;
    position: relative;
}

.pagination__text--prev {
    margin-right: 10px;
    padding-left: 25px;
}

.pagination__text--next {
    margin-left: 10px;
    padding-right: 25px;
}

.pagination__text:hover {
    background: transparent;
    text-decoration: underline;
    border: 1px solid transparent;
}

.pagination__link--current:hover {
    border: 1px solid transparent;
    background: transparent;
    text-decoration: none;
}

.pagination__text:after {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -2px;
    width: 16px;
    height: 5px;
    background: url(/static/images/icon-to4.png) no-repeat;
}

.pagination__text--prev:after {
    left: 0;
    transform: rotate(180deg);
}

.pagination__text--next:after {
    right: 0;
}