.jquery-selectbox {
    height: 50px;
    border: none;
    float: none;
    display: block;
    margin: 0;
    padding: 10px 15px;
    box-sizing: border-box;
    background-image: none;
}

.exchange .jquery-selectbox {
    width: 305px !important;
    background: #ffffff;
    font-size: 18px;
    font-family: PFDinTextCompProLight;
    border-radius: 3px;
}

.jquery-selectbox .jquery-selectbox-moreButton {
    float: none;
    background: url(/static/images/triangle.png) center center no-repeat;
    width: 10px;
    height: 6px;
    padding: 5px;
    position: absolute;
    right: 13px;
    top: 50%;
    margin-top: -5px;
}

.jquery-selectbox .jquery-selectbox-moreButton.morebuttonhover {
    background: url(/static/images/triangle.png) center center no-repeat;
}

.jquery-selectbox .jquery-selectbox-list {
    top: 52px;
    padding: 10px 15px;
    box-sizing: border-box;
    border: none;
    height: auto;
}

.exchange .jquery-selectbox .jquery-selectbox-list {
    width: 305px !important;
    height: auto !important;
    background: #ffffff;
    font-size: 18px;
    font-family: PFDinTextCompProLight;
    border-radius: 3px;
}

.jquery-selectbox .jquery-selectbox-item {
    height: 50px;
    cursor: pointer;
}

.jquery-selectbox .jquery-selectbox-item.listelementhover {
    background: transparent;
    color: #089e95;
}

.jquery-selectbox-item {
    padding: 10px 0;
    box-sizing: border-box;
    border: none;
}

.data-ico-img {
    display: inline-block;
    vertical-align: middle;
    width: 28px;
    height: 29px;
    margin-right: 15px;
}

.option-value {
    color: #b7b7b7;
}

.jquery-selectbox .jquery-selectbox-item.listelementhover .option-value {
    color: #089e95;
}