.sign_up h4, .sign_up .text-greenfield {
    margin-bottom: 15px;
}

.sign_up .text-whitefield {
    margin: 0 auto 15px auto;
}

.sign_up label {
    display: table;
    margin-bottom: 15px;
}

.sign_up .form__title, .sign_up .form__input {
    display: table-cell;
}

.sign_up .form__link {
    margin-left: 25px;
}

.sign_up .button__image {
    margin-left: 90px;
}

.twocol:last-child label {
    float: right;
}

.sign_up .button, .sign_up .loader {
    margin-top: 20px;
}

.sign_up .button {
    width: 190px;
}