.step2 h4, .step2 .text-greenfield {
    margin-bottom: 15px;
}

.step2 .text-whitefield {
    margin: 0 auto 15px auto;
}

.step2 label {
    display: table;
    margin-bottom: 15px;
}

.step2 .form__title, .step2 .form__input {
    display: table-cell;
}

.step2 .form__link {
    margin-left: 25px;
}

.step2 .button__image {
    margin-left: 90px;
}

.twocol:last-child label {
    float: right;
}

.step2 .button, .step2 .loader {
    margin-top: 20px;
}