@import url("form.css");
@import url("bookmark.css");
@import url("header.css");
@import url("footer.css");
@import url("exchange.css");
@import url("select.css");
@import url("features.css");
@import url("description.css");
@import url("reviews.css");
@import url("news.css");
@import url("step2.css");
@import url("step3.css");
@import url("order_completed.css");
@import url("order_processing.css");

body, html {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
   /* -webkit-font-smoothing: antialiased;*/
}

body {
    background: #f1f1f1;
    position: relative;
    min-width: 1230px;
}

button, input {
    outline: 0;
    box-shadow: none;
    border: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h1 {
    font-size: 48px;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 10px;
}

h2 {
    font-size: 30px;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    color: #222222;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.title3 {
    font-size: 17px;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 22px;
    margin: 10px 0;
}

.title3--light {
    color: #ffffff;
}

.title3--dark {
    color: #1f1f1f;
}

.title3:after {
    content: '';
    position: relative;
    left: 10px;
    top: 3px;
    width: 22px;
    height: 21px;
    display: inline-block;
    background: url(/static/images/icon-alert.png) no-repeat;
    visibility: hidden;
}

.title4 {
    font-size: 16px;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #323232;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.title4--red {
    color: #ff535f;
}

a {
    text-decoration: none;
}

ul, li {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.button {
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.button--red {
    width: 280px;
    background: #ff535f;
    border-radius: 3px;
    padding: 20px 25px 14px 25px;
    font-size: 18px;
    position: relative;
    text-align: left;
}

.button--red:hover {
    background: #e1404b;
}

.button--turquoise {
    background: #089e95;
    padding: 13px 20px 9px 20px;
    font-size: 12px;
    display: block;
    margin: 0 auto;
}

.button--turquoise:hover {
    background: #136964;
}

.bookmark .button--turquoise {
    padding: 11px 20px 7px 20px;
    font-size: 14px;
}

.button__image {
    width: 9px;
    height: 10px;
    position: absolute;
    top: 50%;
    right: 25px;
    margin-top: -4px;
    background: url(/static/images/icon-to2.png) no-repeat;
}

.error {
    background: #ff535f;
    padding: 20px 25px;
    border-radius: 3px;
    font-size: 19px;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    margin: 15px 0;
    text-align: left;
    display: none;
}

.error--bookmark {
    font-size: 17px;
    border-radius: 0;
}

.container-1230px {
    width: 1230px;
    position: relative;
    margin: 0 auto;
}

.container-1230px--absolute {
    position: absolute;
    left: 0;
    right: 0;
    text-align: left;
}

.container-820px {
    width: 820px;
    margin-left: 400px;
}

.main {
    position: relative;
}

.step2, .step3, .order_completed, .order_processing {
    padding: 25px 0;
}

.background {
    min-width: 1230px;
    width: 100%;
    height: 570px;
    background: url(/static/images/bg.jpg) no-repeat;
    position: absolute;
    top: 113px;
    left: 0;
}

.whitefield {
    background: #ffffff;
    border-radius: 3px;
    padding: 30px 35px;
    box-sizing: border-box;
    margin-bottom: 15px;
    text-align: left;
}

.text-whitefield {
    font-size: 17px;
    color: #787878;
    line-height: 1.5;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

.text-greenfield {
    font-size: 19px;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #ffffff;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

.timer {
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
}

.timer__img {
    background: url(/static/images/icon-watch.png) no-repeat;
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
}

.timer__text {
    display: inline-block;
    vertical-align: top;
    line-height: .8;
}

.currency-img {
    width: 28px;
    height: 29px;
    margin-right: 15px;
    display: inline-block;
    vertical-align: bottom;
}

.tcell--50px {
    width: 50px;
}

.tcell--100px {
    width: 100px;
}

.tcell--150px {
    width: 150px;
}

.tcell--200px {
    width: 200px;
}

.tcell--235px {
    width: 235px;
}

.tcell--250px {
    width: 250px;
}

.tcell--300px {
    width: 300px;
}

.padded-field {
    padding-bottom: 110px;
}

.step2 .button, .step3 .button, .order_completed .button {
    float: right;
}

.step2 .loader, .step3 .loader, .order_completed .loader {
    width: 50px;
    height: 50px;
    float: right;
    margin-right: 35px;
    padding: 5px 0;
}